<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>
    <h2>Car Details</h2>

    <form action="" method = "POST">
        <div class="form-group row">
          <label for="id">Id</label>
          <input type="text" class="form-control" name="id" id="id">
        </div>
        <div class="form-group row">
            <label for="name"> Model</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-group row">
            <label for="year"> Year</label>
            <input type="text" class="form-control" name="year" id="year">
        </div>
        <div class="form-group row">
            <label for="price"> Price</label>
            <input type="text" class="form-control" name="price" id="price">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>