<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Cars List</title>
</head>

<body>
    <h2>Cars List</h2>

    <table class="table">
        <thead>
            <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Year</th>
            <th scope="col">Price</th>
           
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <td>{{ car.id }}</th>
                <td>{{ car.name }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.price }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>