<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>
</head>
<body>
    <h2>Car Details</h2>

    <form action="" method = "POST">
        <div class="form-group row">
     
          <input type="text" class="form-control" name="id"  value="{{cars.id}}">
        </div>
        <div class="form-group row">
            
            <input type="text" class="form-control" name="name"  value="{{cars.name}}">
        </div>
        <div class="form-group row">
            <input type="text" class="form-control" name="year" value="{{cars.year}}">
        </div>
        <div class="form-group row">
            
            <input type="text" class="form-control" name="price" value="{{cars.price}}">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>